body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f8f8ff;
    padding: 8px 0;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 60px;
  }
  
  .college-name h1 {
    font-size: 28px;
    margin-left: -250px;
    margin-right: 200px;
    font: sans-serif;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 15px;
    font-size: 20px;
  }
    
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    position: relative;
  }

  nav ul li a.active {
    color: #333;
  }

  nav ul li a:hover {
    color: #4169E1;
  }
  
  nav ul li a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #007bff;
  }
    
  nav .login-button {
    padding: 8px 16px;
    border: 2.5px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }
  
  nav .login-button:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }

  .Main-image {
    background-image: url('https://i.pinimg.com/564x/1e/0c/6d/1e0c6de4dd1c12db6906a2e7b255379d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .First-text {
    text-align: left;
    color: #fff;
    margin-left: -300px;
  }
  
  .First-text h1 {
    font-size: 60px;
    margin: 0;
  }
  
  .First-text p {
    font-size: 25px;
    margin-top: 30px;
  }

  .container2 {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: left;
    margin-top: 20px;
  }

  .title h2 {
    font-size: 40px;
    margin: 0;
    position: relative;
  }
  
  .title h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 20%;
    height: 3px;
    background-color: #007bff;
  }
  
  .About-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .image2 {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .image2 img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .About-text {
    flex: 1;
    margin: 50px;
  }
  
  .About-text p {
    font-size: 17px;
  }
  
  .About-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .About-button:hover {
    background-color: #0056b3;
  }

/* ... */
  .container3 {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .Text3 {
    margin-top: 40px;
  }
  
  .Text3 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .Box-Row {
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
  }
  
  .box {
    flex: 0 0 20%;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 14px;
  }

/* ... */
  .activity-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .activity-image {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .activity-image img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .activities {
    flex: 1;
    margin: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
    padding: 20px;
  }
  
  .activity {
    align-items: center;
    margin-bottom: 20px;
  }

  .activity-1 {
    display: flex;
  }
  
  .activity h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .activity p {
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
  }

  .bullet {
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
  }
  
/* ... */
  .facilities-row {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .school-facilities {
    flex: 0 0 50%;
    margin-top: 40px;
    margin-left: 30px;
  }

  .school-facilities ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
    
  }
  
  .school-facilities li {
    font-size: 20px;
    margin-bottom: 8px;
    
  }
  
  .facility-images {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .two-images {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .two-images img {
    width: 48%;
    border-radius: 5px;
  }
  
  